// PROJECT VARIABLES
// __________________________________________________________


// BREAKPOINTS
// __________________________________________________________

$sm-bp: 575px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;
$xxl-bp: 1600px;


// COLORS
// __________________________________________________________

$grey: #E5E5E5;
$yellow: #DED1A5;
$black: #140709;
$blue: #454B6B;
$red: #5B2E32;
$green: #42443A;