// PROJECT VARIABLES
// __________________________________________________________


// BREAKPOINTS
// __________________________________________________________

$sm-bp: 575px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;
$xxl-bp: 1600px;


// COLORS
// __________________________________________________________

